#page {
    height: 100%;
    width: 100%;
}

#drop-zone {
	border: 3px dashed gray;
	height: 300px;
    border-radius: 6px;
}

#drop-zone #drop-zone-text {
    font-size: 36px;
    text-align: center;
    padding: 3.3em 0 0 0;
    color: gray;
}

div.entries {
    padding-bottom: 10px;
}

ul.info-list {
    list-style: none;

    li {
        margin-left: 0;
    }

    .filename {
        font-size: 1.5em;
        font-weight: bold;
        background-color: lightBlue;
        color: black;
        padding-left: 0.5em;
    }

    div.digest-label {
        font-weight: bold;
        width: 54px;
        float: left;
        text-align: right;
        padding-right: 8px;
    }

    div.digest {
        font-family: "Courier New", monospace;
    }
}

#footer {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

#footer-list {
    margin: 0 auto 0 auto;
}
#footer-list li {
    display: inline;
}
