@import "shared.scss";

$my_gray: #F3F3F3;
$my_blue: #7188a8;

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F3F5F8;
}

.zoomable {
    @include all-transition( 100 );
}

.accent {
    font-size: 1.5em;
}

#page {
    position: relative;
    height: 100%;
    width: 100%;
}

#drop-zone {
    border: 3px dashed gray;
    height: 300px;
    border-radius: 6px;

    margin-bottom: 20px;

    #drop-zone-text {
        @include not-selectable();

        font: 42px 'HVDComicSerifProRegular', Arial, sans-serif;
        text-align: center;
        padding: 3.0em 0 0 0;
        z-index: -100;
        cursor: default;
    }

    #drop-zone-text.drag-on {
        color: white;
    }

    #drop-zone-text-details {
        @include not-selectable();
        cursor: default;
        font: 18px 'HVDComicSerifProRegular', Arial, sans-serif;
        text-align: center;
        color: gray;
        margin: 0 auto;
        z-index: -101;
    }
}

#drop-zone.drag-on {
    @include vertical-glass-gradient( #a4b1c3, #889ab3, #7f94b0, #7188a8 );

    border: 3px solid gray;
}

@font-face {
    font-family: 'HVDComicSerifProRegular';
    src: url('../resources/fonts/HVD_Comic_Serif_Pro-webfont.eot');
    src: url('../resources/fonts/HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
         url('../resources/fonts/HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
         url('../resources/fonts/HVD_Comic_Serif_Pro-webfont.svg#HVDComicSerifProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#title {
    font: 36px 'HVDComicSerifProRegular', Arial, sans-serif;
    text-align: center;
    color: $my_blue;
    margin-bottom: 0px;
}

div.entries {
    padding-bottom: 10px;
}

ul.info-list {
    @include box-shadow( #948e93 );

    list-style: none;

    li {
        margin-left: 0;
        border: 1px solid $my_gray;
    }

    li:nth-child(odd) {
        background-color: $my_gray;
    }

    li:last-child {
        border-bottom-radius: 3px;
    }

    .filename {
        font: 1.5em 'HVDComicSerifProRegular', Arial, sans-serif;
		text-shadow: 1px 1px #7D8490, 2px 2px #546276;
        color: white;
        padding-left: 0.5em;
        border: 1px solid #97A4B7;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        @include vertical-glass-gradient( #a4b1c3, #889ab3, #7f94b0, #7188a8 );
    }

    div.digest-label {
        width: 64px;
        float: left;
        text-align: right;
        padding-right: 8px;
        padding-top: 2px;
        font: 1em 'HVDComicSerifProRegular', Arial, sans-serif;
    }

    div.digest {
        font-family: "Courier New", monospace;
        float: left;
    }

    div.spinner {
        position: relative;
        left: 64px;
        background-image: url( ../resources/spinner.gif );
        background-repeat: no-repeat;
        min-width: 20px;
        min-height: 20px;
    }
}

#alert-area {
    font: 16px 'HVDComicSerifProRegular', Arial, sans-serif;
    @include orange-gradient();

    border: 2px solid black;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 6px;
}

#footer-shadow {
    background-image: url( /resources/shadow.png );
    background-position: top left;
    background-repeat: repeat-x;

    position: fixed;
    bottom: 28px;
    left: 0px;
    width: 100%;
    height: 8px;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding: 6px;
    background-color: white;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

#footer-list {
    margin: 0 auto 0 auto;
}
#footer-list li {
    display: inline;
}

.unsupported-browser {
    font-size: 1.5em;
}
