@import "shared.scss";

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F3F5F8;
}

#page {
    position: relative;
    height: 100%;
    width: 100%;
}

#drop-zone {
	border: 3px dashed gray;
	height: 300px;
    border-radius: 6px;

    margin-bottom: 20px;
}

#drop-zone #drop-zone-text {
    font-size: 36px;
    text-align: center;
    padding: 3.3em 0 0 0;
    color: gray;
}

div.entries {
    padding-bottom: 10px;
}

$my_gray: #F3F3F3;

ul.info-list {
    list-style: none;
    @include box-shadow( #948e93 );

    li {
        margin-left: 0;
        border: 1px solid $my_gray;
    }

    li:nth-child(odd) {
        background-color: $my_gray;
    }

    li:last-child {
        border-bottom-radius: 3px;
    }

    .filename {
        font-size: 1.5em;
		text-shadow: 1px 1px #7D8490, 2px 2px #546276;
        font-weight: bold;
        color: white;
        padding-left: 0.5em;
        border: 1px solid #97A4B7;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        @include vertical-glass-gradient( #a4b1c3, #889ab3, #7f94b0, #7188a8 );
    }

    div.digest-label {
        font-weight: bold;
        width: 54px;
        float: left;
        text-align: right;
        padding-right: 8px;
    }

    div.digest {
        font-family: "Courier New", monospace;
        float: left;
    }

    div.spinner {
        position: relative;
        left: 64px;
        background-image: url( ../resources/spinner.gif );
        background-repeat: no-repeat;
        min-width: 20px;
        min-height: 20px;
    }
}

#footer {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

#footer-list {
    margin: 0 auto 0 auto;
}
#footer-list li {
    display: inline;
}
