html {
  height: 100%;
  width: 100%; }

body {
  background-color: #F3F5F8; }

#page {
  position: relative;
  height: 100%;
  width: 100%; }

#drop-zone {
  border: 3px dashed gray;
  height: 300px;
  border-radius: 6px;
  margin-bottom: 20px; }

#drop-zone #drop-zone-text {
  font-size: 36px;
  text-align: center;
  padding: 3.3em 0 0 0;
  color: gray; }

div.entries {
  padding-bottom: 10px; }

ul.info-list {
  list-style: none;
  -webkit-box-shadow: 0 4px 0.5em #948e93;
  -moz-box-shadow: 0 4px 0.5em #948e93;
  -o-box-shadow: 0 4px 0.5em #948e93;
  box-shadow: 0 4px 0.5em #948e93; }
  ul.info-list li {
    margin-left: 0;
    border: 1px solid #f3f3f3; }
  ul.info-list li:nth-child(odd) {
    background-color: #f3f3f3; }
  ul.info-list li:last-child {
    border-bottom-radius: 3px; }
  ul.info-list .filename {
    font-size: 1.5em;
    text-shadow: 1px 1px #7D8490, 2px 2px #546276;
    font-weight: bold;
    color: white;
    padding-left: 0.5em;
    border: 1px solid #97A4B7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a4b1c3), color-stop(50%, #889ab3), color-stop(50.1%, #7f94b0), color-stop(100%, #7188a8));
    background-image: -moz-linear-gradient(top, #a4b1c3 0%, #889ab3 50%, #7f94b0 50.1%, #7188a8 100%);
    background-image: linear-gradient(top, #a4b1c3 0%, #889ab3 50%, #7f94b0 50.1%, #7188a8 100%); }
  ul.info-list div.digest-label {
    font-weight: bold;
    width: 54px;
    float: left;
    text-align: right;
    padding-right: 8px; }
  ul.info-list div.digest {
    font-family: "Courier New", monospace;
    float: left; }
  ul.info-list div.spinner {
    position: relative;
    left: 64px;
    background-image: url(../resources/spinner.gif);
    background-repeat: no-repeat;
    min-width: 20px;
    min-height: 20px; }

#footer {
  position: absolute;
  bottom: 20px;
  left: 0px; }

#footer-list {
  margin: 0 auto 0 auto; }

#footer-list li {
  display: inline; }
