<div class="grid_12 entries">
    <ul class="info-list">
        <li class="filename">${filename}</li>
        <li class="md5">
            <div class="digest-label">MD5</div>
            <div class="digest"></div>
            <div class="spinner" id="md5-spinner">&nbsp;</div>
        </li>
        <li class="sha1">
            <div class="digest-label">SHA-1</div>
            <div class="digest"></div>
            <div class="spinner" id="sha1-spinner">&nbsp;</div>
        </li>
        <li class="sha256">
            <div class="digest-label">SHA-256</div>
            <div class="digest"></div>
            <div class="spinner" id="sha256-spinner">&nbsp;</div>
        </li>
    </ul>
</div>
